* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #e8ff47;   
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

/* Header Section */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

.logo:hover {
    transform: scale(1.1)
}

.logo span {
    color: var(--main-color)
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.top-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
    text-align: center;
    white-space: nowrap;
}

.nav-btn-book:hover,
.nav-btn-services:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 18px var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 5rem;
    font-weight: 700;
}

.home-content span {
    font-size: 4rem;
    font-weight: 550;
}

span {
    color: var(--main-color)
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 45vw;
}

.home-img::before {
    content: 'FITNESS';
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--text-color);
    opacity: 0.1;
    z-index: -1;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.book-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.book-btn:hover {
    color: var(--bg-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}